$identityBg:rgb(25, 138, 244);
$coinBg:rgb(255, 153, 51);
$coinColor:rgb(255,255,0);
$coinBorder:rgb(255, 102, 21);
$topMenu:rgb(39,166,237);
$meHeaderBgLeft:#52E5E7;
$meHeaderBgRight:#3399FF;
$meContentBg:rgb(242, 242, 242);
